@import './bootstrap';
@import './loader';

body {
  margin-top: 91px;
}

p {
  white-space: pre-line;
}

.navbar {
  box-shadow: 2px 2px 5px #212222;
  opacity: 0.9;
  background: #fff;
}

.navbar-brand {
  font-weight: 600;
}

.nav-item {
  font-size: 1.15rem;
}

#landing {
  position: relative;
  background: url(https://i.imgur.com/9goHfVj.jpg);
  min-height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  .primary-overlay {
    background: rgba(40, 40, 40, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .hero-text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .hero-text a:hover {
    color: rgb(92, 91, 91);
  }

  .hero-link u:hover {
    color: rgb(114, 110, 110);
  }
}

@media (min-width: 768px) {
  #landing {
    background-attachment: fixed;
  }
}

.post-item {
  margin-top: 8rem;
}
